[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
slack-logger-python = "*"
litellm = "*"
python-dotenv = "*"
pandas = "*"
qdrant-client = "*"
mongoengine = "*"
sentry-sdk = "*"
scikit-learn = "*"
numpy = "*"
cachelib = "*"

[dev-packages]
jupyterlab = "*"
pytest = "*"

[requires]
python_version = "3.11"
