[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
mongoengine = "*"
sentry-sdk = "*"
cachelib = "*"
requests = "*"

[dev-packages]
jupyterlab = "*"
pytest = "*"

[requires]
python_version = "3.13"
